
@{
   // Layout = null;
	float total=0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

	@if (ViewBag.available)
	{
		
	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								@foreach (Foods item in ViewBag.foods)
								{
									<tr class="table-body-row">
										<td class="product-remove"><a asp-action="Remove" asp-route-id="@item.Id" asp-controller="Cart"><i class="far fa-window-close"></i></a></td>
										<td class="product-image"><img src="~/img/products/product-img-1.jpg" alt=""></td>
										<td class="product-name">@item.Name</td>
										<td class="product-price">$@item.Price</td>
										<td class="product-total">1</td>
									</tr>
									total += item.Price;
								}
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>$@total</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>Free</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>$@total</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="/Foods" class="boxed-btn">Update Cart</a>
							<a asp-action="CustomOrder" asp-controller="Orders" class="boxed-btn black">Check Out</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	}
	else
	{
		<div class="alert alert-danger" role="alert">
		  <h4 class="alert-heading">Ops!</h4>
		  <p>Cart is Empty</p>
		  <hr>
		  <p class="mb-0">Please add products then come to cart.</p>
		</div>
	}

</body>
</html>
