@{
   // Layout = "~/Views/Shared/_adminLayout.cshtml";
   ViewData["Title"] = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
                @foreach (var item in ViewBag.foods) {
				    <div class="col-lg-4 col-md-6 text-center">
					    <div class="single-product-item">
						    <div class="product-image">
							    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/img/products/product-img-1.jpg" alt=""></a>
						    </div>
						    <h3> @item.Name | @item.FoodTypes.FoodType </h3>
						    <p class="product-price"><span>Per Kg</span> $@item.Price </p>
						    <a asp-action="Buy" asp-route-id="@item.Id" asp-controller="Cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					    </div>
				    </div>
                }
			</div>
		</div>
	</div>
	<!-- end product section -->

</body>
</html>
